<div id="disqus_thread">
    {% if content.response|length > 0 %}
    <div id="dsq-content">
        <ul id="dsq-comments">
            {% for comment in content.response %}
                <li class="dsq-comment dsq-clearfix" data-dsq-comment-id="{{ comment.id }}" id="dsq-comment-{{ comment.id }}">
                    <div class="dsq-avatar dsq-tt">
                        <a href="{{ comment.author.profileUrl }}">
                            <img alt="" src="{{ comment.author.avatar.permalink }}">
                        </a>
                    </div>

                    <div class="dsq-comment-body" id="dsq-comment-body-{{ comment.id }}">
                        <div class="dsq-comment-header">
                            <span class="dsq-commenter-name">{{ comment.author.name }}</span>
                        </div>

                        <div id="dsq-comment-message-{{ comment.id }}" class="dsq-comment-message">
                            <div id="dsq-comment-text-{{ comment.id }}" class="dsq-comment-text">
                                {{ comment.message|raw }}
                            </div>
                        </div>

                        <div class="dsq-comment-footer">
                            <ul class="dsq-comment-meta">
                                <li>
                                    <a title="Link to comment by {{ comment.author.name }}" href="#comment-{{ comment.id }}">
                                        {{ comment.createdAt|date('Y-m-d') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% include 'KnpDisqusBundle::js.html.twig' %}
